<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/images/logo/kevinhillslogo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        
        <nav>
            <ul class="menu-aside">
                <li class="" >
                    <a class="menu-link" href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text" >Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <!-- <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i> -->
                    <a class="menu-link" href="/admin/userDetails"> <i class="icon material-icons md-people"></i>

                        <span class="text" style="padding-left: 10px;">Users</span>
                    </a>
                  
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/adminProduct"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text" style="padding-left: 10px;">Products</span>
                    </a>
                  
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text" style="padding-left: 10px;">Catagory</span>
                    </a>
                
                </li>

                <li class="">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                    <a class="menu-link" href="/admin/adminOrders"> <i
                            class="text-success material-icons md-local_shipping" style="color: black;"></i>

                        <span class="text" style="padding-left: 10px;">Orders</span>
                    </a>
                   
                </li>
                <li class="" style="background-color: black;border-radius: 5px;">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                    <a class="menu-link" href="/admin/adminCoupon"> <i class="icon material-icons md-local_offer"></i>

                        <span class="text" style="padding-left: 10px;color: #ffffff";>Coupons</span>
                    </a>
                   
                </li>

                <li class="">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text"  style="padding-left: 10px;">Sales Report</span>
                    </a>

                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="//imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="//imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="//imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="//imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="//imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Coupon</h2>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p id="filedErr" class="text-danger"></p>
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Coupon Name</label>
                                <input type="text" placeholder="Type here" id="name" class="form-control"
                                    onkeydown="return /[a-zA-Z\s]/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'ArrowLeft' || event.key === 'ArrowRight'"
                                    onblur="name()">
                                <p id="nameErr" class="text-danger"></p>
                            </div>
                            <div class="row gx-3">

                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Start Date</label>
                                    <input type="date" placeholder="Type here" id="startDate" onblur="startDate()"
                                        class="form-control">
                                    <p id="startDateErr" class="text-danger"></p>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">End Date</label>
                                    <input type="date" placeholder="Type here" id="endDate" class="form-control"
                                        onblur="endDate()">
                                    <p id="endDateErr" class="text-danger"></p>
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">Min Amount</label>
                                    <input type="text" placeholder="Type here" class="form-control" onblur="minCash()"
                                        onKeyDown="return /[0-9]/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'ArrowLeft' || event.key === 'ArrowRight'"
                                        id="Minimum">
                                    <p id="minAmountErr" class="text-danger"></p>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Max Amount</label>
                                    <input type="text" placeholder="Type here" class="form-control"
                                        onKeyDown="return /[0-9]/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'ArrowLeft' || event.key === 'ArrowRight'"
                                        onblur="maxCash()" id="maximum">
                                    <p id="maxAmountErr" class="text-danger"></p>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Discount</label>
                                    <input type="text" placeholder="Type here"
                                        onKeyDown="return /[0-9]/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'ArrowLeft' || event.key === 'ArrowRight'"
                                        class="form-control" onblur="dis()" id="discount">
                                    <p id="disErr" class="text-danger"></p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                        <button class="btn btn-md rounded font-sm hover-up" onclick="publish()" style="background-color: black;">Publish</button>
                    </div>


                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

<script>
    function name() {
        const nameValue = document.getElementById("name").value
        const nameErr = document.getElementById("nameErr")

        if (nameValue.trim() == "") {
            nameErr.innerHTML = "Name is require"
        } else {
            nameErr.innerHTML = ""
        }

    }

    function startDate() {


var today = new Date();
var dd = today.getDate();
var mm = today.getMonth() + 1; //January is 0!
var yyyy = today.getFullYear();

if (dd < 10) {
    dd = '0' + dd;
}

if (mm < 10) {
    mm = '0' + mm;
}

today = yyyy + '-' + mm + '-' + dd;
document.getElementById("startDate").setAttribute("min", today);


const startDate = document.getElementById("startDate").value
const startDateErr = document.getElementById("startDateErr")

if (startDate.trim() == "") {
    startDateErr.innerHTML = "End Date is require"
} else {
    startDateErr.innerHTML = ""
}

}
    function endDate() {
    const endDate = document.getElementById("endDate").value;
    const startDate = document.getElementById("startDate").value;
    const endDateErr = document.getElementById("endDateErr");

    if (endDate.trim() == "") {
        endDateErr.innerHTML = "End Date is required";
    } else if (startDate && new Date(endDate) < new Date(startDate)) {
        endDateErr.innerHTML = "End Date cannot be before Start Date";
    } else {
        endDateErr.innerHTML = "";
    }
}


    
    
    function maxCash() {
        const maximum = document.getElementById("maximum").value
        const maxAmountErr = document.getElementById("maxAmountErr")

        if (maximum.trim() == "") {
            maxAmountErr.innerHTML = "Maximum Amount is require"
        } else {
            maxAmountErr.innerHTML = ""
        }

    }
    function minCash() {
        const maximum = document.getElementById("Minimum").value
        const minAmountErr = document.getElementById("minAmountErr")

        if (maximum.trim() == "") {
            minAmountErr.innerHTML = "Maximum Amount is require"
        } else {
            minAmountErr.innerHTML = ""
        }

    }
    function dis() {
        const discount = document.getElementById("discount").value
        const disErr = document.getElementById("disErr")

        if (discount.trim() == "") {
            disErr.innerHTML = "Discount is require"
        } else {
            disErr.innerHTML = ""
        }

        if(discount > 99) {
            disErr.innerHTML = "Discount only upto 99 percent"
        } else {
            disErr.innerHTML = ""
        }

    }

    function publish() {
        name()
        endDate()
        maxCash()
        dis()
        startDate()
        minCash()

        const nameErr = document.getElementById("nameErr")
        const endDateErr = document.getElementById("endDateErr")
        const maxAmountErr = document.getElementById("maxAmountErr")
        const disErr = document.getElementById("disErr")
        const minAmountErr = document.getElementById("minAmountErr")
        const startDateErr = document.getElementById("startDateErr")

        if (nameErr.innerHTML || endDateErr.innerHTML || maxAmountErr.innerHTML || disErr.innerHTML || minAmountErr.innerHTML || startDateErr.innerHTML) {
            document.getElementById("filedErr").innerHTML = "Fill the Filed"
        } else {
            document.getElementById("filedErr").innerHTML = ""

            const nameValue = document.getElementById("name").value
            const startDate = document.getElementById("startDate").value
            const Minimum = document.getElementById("Minimum").value
            const endDate = document.getElementById("endDate").value
            const maximum = document.getElementById("maximum").value
            const discount = document.getElementById("discount").value

            $.ajax({
                url: "/admin/addCoupon",
                method: "post",
                data: {
                    nameValue,
                    endDate,
                    maximum,
                    discount,
                    startDate,
                    Minimum
                },
                success: (response) => {
                    if (response.status == true) {
                        window.location.href = "/admin/adminCoupon"
                    }
                }
            })
        }

    }



</script>

</html>