<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/index-8.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:17:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
   
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .col-lg-12 {
            padding: 0; /* Remove default padding from the column */
        }

        .banner-wrap {
            width: 100%;
            max-width: 100%;
            overflow: hidden; /* Ensure the image doesn't overflow its container */
        }

        .banner-img img {
            width: 100%;
            height: auto;
        }

        .banner-content-8 {
            text-align: center;
            padding: 1em;
            color: #fff; /* Adjust text color as needed */
        }
    </style>



</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1 pt-30 pb-15">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-2">
                        <div class="menu-icon">
                            <span>
                            <a class="clickable-mainmenu-button" href="#"><i class="dlicon ui-3_menu-left"></i></a>
                            Menu
                        </span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-8">
                        <div class="logo logo-width text-center">
                            <a href="index.html">
                                <img src="assets/images/logo/kevinhillslogo.png" alt="logo">
                               <!-- <B class = "main-logo">KEVIN HILLS.</B>  -->
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="#" class="cart-active">
                                    <i class="dlicon shopping_bag-20"></i>
                                    <span class="count-style">02</span>
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style header-wishlist">
                                <% if (isAuthenticated) { %>
                                  <a href="/logout">Logout</a>
                                <% } else { %>
                                  <a href="/login">Sign in</a>
                                <% } %>
                              </div>
                              <div>
                                <li><a href="/accountDetails">My Account</a></li>
                              </div>
                              
                              
                        </div>
                    </div>
                </div>
            </div>
        </header>